@import './../../../utilities/global.scss';


.card {
    height: 340px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    &__filter{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        color: white;
        font-size: $nav-header;
        left: 30px;
        bottom: 20px;
    }
}

.card:hover {
    cursor: pointer;
}