@import './../../utilities/global.scss';


.bannerBox{
    display: flex;
    height: 223px;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(205,180,219,1) 0%, rgba(255,188,213,1) 35%, rgba(162,210,255,1) 100%);

    &__text {
        position: absolute;
        color: $second-color;
        font-size: $banner;
    }
}


// MEDIA QUERIES //

@media (max-width: 768px) {

    .bannerBox {
        width: 100%;
        height: 111px;
        
        &__text {
            // font-size: $nav-footer;
            padding-left: 16px;
            padding-right: 102px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}



