@import './../../utilities/global.scss';

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(4,4,4,0.3);
    height: 69px;

    .menu {
    display: flex;
    gap: 30px;
    }

    &__link {
    color: whitesmoke;
    font-size: $nav-header;
    }

    &__link:hover {
        font-size: $title;
        text-shadow: 1px 1px 3px rgb(255, 188, 213);
    }
    
    &__icon:hover {
        font-size: 20px;
    }

    &__icon {
        height: 1.7em;
        color: whitesmoke;
    }

    .active {
        text-decoration: underline;
    }
}


// MEDIA QUERIES //

@media (max-width: 768px) {

    .header {
        margin: 20px 0px;
        padding: 0px 20px 0px 20px;

        &__link {
            font-size: 12px;
            margin: 0px;
            display: flex;
            justify-content: center;
        }
    
        .logo {
            height: 4vh;
        }
    
        .menu {
            display: flex;
            gap: 26px;
            text-transform: uppercase;
        }
    }
}