/**************** COLOR ***************/

$main-color : #443f3f;

$second-color : white;


/************** FONT-SIZE *************/

$nav-header : 24px;
// $banner : 48px;
// $title : 36px;
// $text : 18px;
$footer : 14px;


/************** GRADIENT *************/

$background-linear-gradient : linear-gradient(180deg, rgba(205,180,219,1) 0%, rgba(255,188,213,1) 35%, rgba(162,210,255,1) 100%);


/*************** RADIUS **************/

$main-radius : 25px;
$radius-cards : 10px;