/**************** COLOR ***************/

$main-color : #443f3f;

$second-color : white;


/************** FONT-SIZE *************/

$nav-header : 20px;
$banner : 40px;
$title : 30px;
$text : 18px;
$footer : 14px;


/*************** RADIUS **************/

$main-radius : 25px;
$radius-cards : 10px;