@import './../../utilities/global.scss';

.about {
    display: grid;
    &__imgBox {
        display: flex;
        justify-content: center;
        // margin: 55px 0px 25px 0px;
    }
    &__img {
        display: flex;
        justify-content: center;
        height: 188px;
        border-radius: 50%;
    }
    &__writings {
        display: grid;
        justify-self: center;
        color: $main-color;
    }
    &__title {
        justify-self: center;
        font-size: $title;
        margin: 0px;
        padding: 25px 0px 15px 0px;
    }
    &__age {
        justify-self: center;
        font-size: $text;
        padding-bottom: 10px;
    }
    &__text {
        justify-self: center;
        text-align: center;
        font-size: $text;
        // padding: 0px 60px 0px 60px;
        width: 70%;
    }
}

// MEDIA QUERIES //

@media (max-width: 768px) {

    .mainHome {
        margin: 27px 20px 27px 20px;
        gap: 22px;
    }
}