@import './../../utilities/global.scss';

.home {
    // margin: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    &__skills {
        display: grid;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        .networkAndContact {
            display: flex;
            justify-content: space-between;
            padding: 50px 300px;
            .network,
            .contact {
                display: flex;
                flex-direction: column;
                gap: 30px;
                &__title {
                font-size: $title;
                color: $main-color;
                }
                // &__text {
                //     display: flex;
                //     gap: 30px;
                //     padding-left: 50px;
                //     font-size: $text;
                // }
                // .networks {
                //     display: flex;
                //     flex-direction: column;
                //     gap: 30px;
                // }
                .icon {
                    font-size: $title;
                }
                .email {
                    align-content: center;
                }
            }
        }
    }
}
.skill {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    justify-content: space-between;
    padding: 50px 50px;
    &__frontend,
    &__backend,
    &__tools{
        display: grid;
        font-size: $title;
        color: rgba(255,188,213,1);
        &__title {
            justify-self: center;
        }
    }
    &__content{
        display: grid;
        padding-top: 50px;
        gap: 20px;
        &__frontend {
            display: grid;
            grid-template-columns: 100px 100px 100px;
            padding-top: 50px;
            gap: 20px;
            // justify-content: center;
        }
        &__backend {
            display: grid;
            grid-template-columns: 100px 100px 100px;
            padding-top: 50px;
            gap: 20px;
            // justify-content: center;
        }
        &__tools {
            display: grid;
            grid-template-columns: 100px 100px;
            padding-top: 50px;
            gap: 20px;
            justify-content: center;
        }

    } 
    .titleIcon {
        color: $main-color;
        padding-left: 20px;
    }
}



// MEDIA QUERIES //

@media (max-width: 768px) {

    .mainHome {
        margin: 27px 20px 27px 20px;
        gap: 22px;
    }
}