@import './../../utilities/global.scss';

.footer {
    display : flex;
    align-items: center;
    flex-direction: column;
    background: rgb(205,180,219);
    background: linear-gradient(90deg, rgba(205,180,219,1) 0%, rgba(255,188,213,1) 35%, rgba(162,210,255,1) 100%);
    color: $second-color;
    gap: 28px;
    padding-top: 66px;
    padding-bottom: 29px;

    .reserved {
        color: $second-color;
        font-size: $footer;
    }

    .logoBW {
        width: 122px;
    }
}


// MEDIA QUERIES //

@media (max-width: 768px) {

    .footer {
        padding-bottom: 58px;
        gap: 0px;

        .reserved {
            display: flex;
            font-size: 12px;
            padding-left: 121px;
            padding-right: 120px;
            height: 46px;
            align-items: flex-end;
            text-align: center;
        }
    }
}